{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-8 text-center mt-4">
    
    <img id="homepage" src="https://socialmarketing.vn/wp-content/uploads/2019/12/qu%E1%BA%A3n-tr%E1%BB%8B-website-2020.png">
</div>
{% endblock %}